body {
  font-family: "Raleway", sans-serif;
}
*{
  max-width: 100%;
  box-sizing: border-box;
}
/* Hero Section */
.header_container {
  margin: 0 auto;
  padding: 0 5%;
}
.header_img {
  justify-self: right;
  height: 350px;
  width: auto;
}
.exp_img_container {
  position: relative;
  display: inline-block;
  margin-top: 18%;
}
.indicator {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 50px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.exp_img_container:hover .overlay {
  opacity: 1; 
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.exp_img_container:hover .text {
  opacity: 1;
}

.section_text {
  margin-right: 60px;
}
.educación, .experiencia {
  margin: 0 auto;
  padding: 0 5%;
}
.experiencia p {
  max-width: 50%;
}
.exp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Mis trabajos */

#portafolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#portafolio {
  background-color: #373a3c;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}
#sobre_mi,
#Educación,
#Experiencia,
#portafolio,
#contacto {
  scroll-margin-top: 70px;
  scroll-padding-top: 70px; 
}
@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
  .image-section{
    padding-left: 10%;
  }
  .header_container{
    h1{
      text-align: center;
    }
    p{
      text-align: center;
      margin-left: 20%;
    }
  }
  .navbar-brand {
    width: 100px;
  }
  .experiencia{
    p{
      max-width: 80%;
      margin-left: 15%;
      text-align: center;
    }
  }
  .educación, .experiencia{
    h2{
      text-align: center;
    }
  }
  .desafios{
    padding-left: 11%;
  }
}
