body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  .header_container{
    margin-left: 10%;
  }
  .header_img{
    justify-self: right;
    height: 350px;
    width: auto;
    margin-top: 20%;
  }
  .section_text{
    margin-right: 60px;
  }
  .educación{
    margin-left: 10%;
  }
  .experiencia{
    margin-left: 10%;
  }
  .experiencia p{
    max-width: 50% ;
  }
  .exp_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Mis trabajos */
  
  #portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #portafolio{
    background-color: #373a3c;
  }
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  #sobre_mi,
#Educación,
#Experiencia,
#portafolio,
#contacto {
    scroll-margin-top: 70px; /* Ajusta este valor según la altura de tu navbar */
    scroll-padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
}

  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }